.container {
  display: inline-block;
}
.container h1 {
  margin: 20px 10px;
}

img,
img:hover,
img:focus,
img:active {
  text-decoration: none;
  color: inherit;
}

.image_container {
  display: flex;
}

.item {
  position: relative;
  display: block;
  flex: 1 1 0px;
  transition: transform 500ms;
}

.container:focus-within .item,
.container:hover .item {
  transform: translatex(-25%);
}

.item:focus ~ .item,
.item:hover ~ .item {
  transform: translatex(25%);
}

.container .item:focus,
.container .item:hover {
  transform: scale(1.5);
  z-index: 1;
}

.item {
  display: inline-block;
  max-width: 100%;
}

.card {
  float: left;
}

.hidden_at_first {
  display: none;
  margin-top: 20px;
  position: relative;
  z-index: 100;
}

.card:hover > .hidden_at_first {
  display: block;
  height: 100px;
  color: black;
  font: size 20px;
  box-shadow: 0px 0px 5px black;
  padding: 20px;
  overflow-wrap: break-word;
  max-width: 100%;
  font-size: 12px;
  width: 250px;
  margin-top: 45px;
  overflow-y: scroll;
}

.item {
  height: 250px;
  width: 250px;
}
